body {
    font-family: "Roboto", Arial, "Helvetica Neue", Helvetica, sans-serif;
}
header {
    background-color: #2f3542;
    height: 15vh;
    line-height: 15vh;
}

header .container h1 {
    text-align: center;
    font-family: "Lobster";
    font-size: 3rem;
    color: #FFF;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    font-family: "Roboto", sans-serif;
}

nav ul li {
    text-align: center;
    width: 25%;
    line-height: 100%;
    overflow: hidden;
}

nav ul li span {
    display: block;
}

nav ul li a {
    text-decoration: none;
    display: block;
    color: #000;
    height: 100%;
    width: 100%;
    padding: 10px 0;

}

nav ul li:nth-child(1) {
    background-color: #ff6b81;
}

nav ul li:nth-child(2) {
    background-color: #eccc68;
}

nav ul li:nth-child(3) {
    background-color: #70a1ff;
}

nav ul li:nth-child(4) {
    background-color: #7bed9f;
}

main {
    padding: 25px 0;
}

main p {
    padding: 10px;
}

main img {
    width: 40%;
    display: block;
    margin: 0 auto;
}
