body {
    font-family: "Roboto", Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #F6F6F6;
}
header {
    background-color: #2f3542;
    height: 15vh;
    line-height: 15vh;
}

header .container h1 {
    text-align: center;
    font-family: "Lobster";
    font-size: 3rem;
    color: #FFF;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    font-family: "Roboto", sans-serif;
}

nav ul li {
    text-align: center;
    width: 25%;
    line-height: 100%;
    overflow: hidden;
}

nav ul li span {
    display: block;
}

nav ul li a {
    text-decoration: none;
    display: block;
    color: #000;
    height: 100%;
    width: 100%;
    padding: 10px 0;

}

nav ul li:nth-child(1) {
    background-color: #ff6b81;
}

nav ul li:nth-child(2) {
    background-color: #eccc68;
}

nav ul li:nth-child(3) {
    background-color: #70a1ff;
}

nav ul li:nth-child(4) {
    background-color: #7bed9f;
}

main {
    padding: 0px 10px;
}

main p {
    padding: 10px;
}

main img {
    width: 40%;
    display: block;
    margin: 0 auto;
}

.film-card-container {
    min-height: 7rem;
    padding: 1rem;
    margin: 25px 0;
    border-radius: 10px;
    font-family: "Dosis";
    line-height: 1.4rem;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    transition: all .2s linear;
    background-image: linear-gradient(120deg, #fbc2eb 0%, #a6c1ee 100%);
}

.film-card-container:nth-child(2n) {
background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.film-card-container:nth-child(4n) {
background-image: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
}

.film-card-container:nth-child(5n) {
background-image: linear-gradient(120deg, #ffc3a0 0%, #ffafbd 100%);
}

.film-card-container:hover {
    box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
    transform: translate3D(0, -2px, 0);
  }

.film-card-container h2 {
    font-size: 1.8rem;
    font-family: "Dosis";
    font-weight: bold;
}

.film-info span {
    display: inline-block;
    margin-right: 25px;
    padding: 10px 0;
}

.film-desc p {
    padding: 0; 
}